<!DOCTYPE html>
<html lang="en">

  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126135579-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126135579-1');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LifeStyleDesign</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="/https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">
    <link href="/https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="/https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    <style>
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: rgb(255, 255, 255);
            }
            
            li {
                float: left;
            }
            
            li a {
                display: block;
                color: rgb(0, 0, 0);
                text-align: center;
                padding: 12px 12px;
                text-decoration: none;
            }
            
            li a:hover:not(.active) {
                background-color: #afd5fd;
            }
            
            .active {
                background-color: #afd5fd;
            }
            </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
              <a class="navbar-brand" href="/">Home</a>
              <a class="btn btn-primary" href="/example">See An Example</a>
            </div>
          </nav>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
          <div class="my-auto showcase-text">
    <h3>What is LifeStyleDesign?</h3>
    <span>LifeStyleDesign is a way of living. More specifically, it's a way of utilizing the tools available to us to strategically plan our lives to accomplish goals. For instance, are you seeking new career/educational opportunities? You wouldn't want to submit a cover letter or essay that's loaded with sad and angry emotions! You want to send in something analytical, confident, and joyful! This application helps you do just that and more.</span>
    <br>
    <br>
    <br>
    <h3>How does this work?</h3>
    <span>LifeStyleDesign is built on top of IBM Watson, an artificial intelligence tool designed by some of the world's smartest people.</span>
    <br>
    <br>
    <span>Simply upload your text and click any of the categories below to see the presence of that emotion highlighted in your text. If you don't see an emotion appear as an option, that's because the A.I. didn't detect it. Now, ask yourself, is that a good thing?</span>
    <br>
    <br>
    <br>
    <img src="/img/tone.jpg" width="1000" height="200" alt="tone_guide">
    <h3>An Example: College Failure Essay</h3>
    <span>Below, you'll see an example of a failure essay written. It's short and simple, but it gets the point across pretty well. Remember, if you don't see the emotion appear as a clickable option, that's because the A.I. didn't detect it.</span>
    <br>
    <br>
    <br>
    <ul>
           
            {% for i, row in doc.iterrows() %}
            <li><a href="/example/{{row['tone_name']}}">{{row['tone_name']}}</a></li>
            {% endfor %}
          
    </ul>
    <br>
    <tbody>
            {% block body %}
            {% for i, row in data.iterrows() %}
            <span style="background-color: {{row['color']}}">{{row['sentence']}}</span>
            {% endfor %}
            {% endblock %}
    </tbody>
    <br>
    <br>
    <br>
    <!-- Footer -->
    <footer class="footer bg-light">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                  <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                      <a href="/contact">About/Contact</a>
                  </ul>
          </footer>
      

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src = "/vendor/d3.min.js"></script>
  </body>

</html>
